@import "src/styles/constants";

.landing-page-container {
  padding: $spacing-xxl $spacing-xl;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $md-breakpoint) {
    padding-top: 10%;
  }
}