@import "src/styles/constants";

.landing-page-container {
  padding: $spacing-xxl 0;
  box-sizing: border-box;

  @media (min-width: $md-breakpoint) {
    padding-top: 10%;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxxl;
  }


  .section-header {
    width: fit-content;
    margin-bottom: $spacing-standard;
    display: flex;
    gap: $spacing-standard;
    flex-wrap: wrap;

    &.extra-margin {
      margin: $header-spacing 0 $spacing-l;
    }

    :last-child {
      color: $purple-lighter;
    }
  }
}