@import "src/styles/constants";

.landing-page-container {
  padding: $spacing-xxxl $spacing-xl;
  box-sizing: border-box;

  .content-container {
    overflow-y: auto;
  }

  .section-header {
    display: block;
    width: fit-content;
    margin: $spacing-l 0 $spacing-l;

    @media (min-width: $md-breakpoint) {
      display: flex;
      gap: $spacing-standard;
    }

    &.extra-margin {
      margin: $spacing-xxxl 0 $spacing-l;
    }

    :nth-child(2) {
      color: $purple-lighter;
    }
  }
}