@import "src/styles/constants";

.skills-container {
  display: flex;
  margin-top: $spacing-xl;
  gap: $spacing-xxl;
  flex-wrap: wrap;
  justify-content: center;

  .skills-category-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-standard;
    align-items: center;

    &:hover {
      .skills-category-header {
        background-color: rgba($purple, 0.9);
      }
    }

    .skills-category-header {
      text-align: center;
      padding: $spacing-s $spacing-xl;
      border-radius: 50px;
      box-sizing: border-box;
      width: 100%;
      font-weight: 650;
      font-size: $s-font;
      background-color: rgba($purple, 0.1);
      transition: background-color 0.3s;
    }

    .skills-category-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .wide {
        width: 200px;
        height: 100px;
      }
    }
  }
}