@import "src/styles/constants";
@import "src/styles/mixins";

.navbar-container {
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  height: fit-content;
  display: flex;
  gap: $spacing-xl;
  padding: $spacing-s;
  border-radius: 50px;
  background-color: rgba($purple-darker, 0.5);
  color: white;
  transition: transform 0.3s;

  @media (max-width: calc(#{$md-breakpoint} - 1px)) {
    &.collapsable {
      transform: translateX(-50%) translateY(-100px);
    }
  }

  @media (min-width: $md-breakpoint) {
    top: 50%;
    transform: translateY(-50%);
    right: $spacing-xxl;
    left: revert;
    background-color: revert;
    flex-direction: column;
  }

  &:hover {
    .navbar-item {
      transform: scale(1.15);
    }
  }

  .navbar-item {
    @include tile;
    border-color: $purple-lighter;
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    opacity: 0.75;
    transition: 0.2s;

    * {
      font-size: 1rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}