@import 'src/styles/mixins';

.experience-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgba($purple-darker, 0.75);
  padding-left: $spacing-xl;
  gap: $spacing-xxl;

  .timeline-point {
    position: absolute;
    left: 0;
    width: 10px;
    aspect-ratio: 1;
    background: $purple-lighter;
    border-radius: 10px;
    transform: translateX(calc(-50% - 1px)) translateY($spacing-l);
    box-sizing: border-box;
  }
}