@import "src/styles/mixins";
@import "src/styles/constants";

.project-description-container {
  margin-top: $spacing-xxl;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  .project-description-paragraph {
    opacity: 0.75;
    text-align: justify;
    display: block;
    border-left: 2px solid $gray;
    padding-left: $spacing-standard;
  }
}