@import "zindexes";

$md-breakpoint: 900px;

$purple: #6700cc;
$purple-lighter: lighten($purple, 10%);
$purple-darker: darken($purple, 10%);
$gray: #222222;

$standard-font-size: 1rem;
$s-font: 0.8125rem;
$xs-font: 0.725rem;
$xss-font: 0.6125rem;
$l-font: 1.25rem;
$xl-font: 1.5rem;
$xxl-font: 2.5rem;
$xxxl-font: 3rem;

$spacing-standard: 10px;
$spacing-s: 5px;
$spacing-l: 15px;
$spacing-xl: 20px;
$spacing-xxl: 50px;
$spacing-xxxl: 100px;

$header-spacing: 175px;
