@import "zindexes";

$md-breakpoint: 900px;

$primary: #b9014a;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
$gray: #222222;

$standard-font-size: 1rem;
$s-font: 0.8125rem;
$xs-font: 0.725rem;
$xss-font: 0.6125rem;
$l-font: 1.25rem;
$xl-font: 1.5rem;
$xxl-font: 2.5rem;
$xxxl-font: 3rem;

$spacing-m: 10px;
$spacing-s: 5px;
$spacing-l: 15px;
$spacing-xl: 20px;
$spacing-xxl: 40px;
$spacing-xxxl: 100px;

$header-spacing: 175px;
