$standard-font-size: 1rem;
$s-font: 0.8125rem;
$xs-font: 0.725rem;
$xss-font: 0.6125rem;
$l-font: 1.25rem;
$xl-font: 1.5rem;
$xxl-font: 2.5rem;
$xxxl-font: 4rem;

$spacing-standard: 10px;
$spacing-s: 5px;
$spacing-l: 15px;
$spacing-xl: 20px;
$spacing-xxl: 50px;
$spacing-xxxl: 100px;

$shadow: 12px 12px 0px -2px rgba(154, 0, 0, 0.5);
$medium-shadow: 8px 8px 0px -2px rgba(154, 0, 0, 0.5);
$small-shadow: 0px 3px 0px -2px rgba(154, 0, 0, 0.5);
$not-pressed-button-shadow: 3px 3px 0px 0 rgba(154, 0, 0, 1);
$pressed-button-shadow: 1px 1px 0px 0 rgba(154, 0, 0, 1);
$inset-shadow: inset 0px 0px 24px 0px rgba(36, 0, 64, 0.5);
