@import "src/styles/constants";

@mixin tile {
  box-sizing: border-box;
  border: thin solid $purple-darker;
  padding: $spacing-standard;
  border-radius: 10px;
}

@mixin badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 15px;
  box-sizing: border-box;

  &:hover {
    .badge-icon {
      filter: invert(1) sepia(1) saturate(100) hue-rotate(120deg) brightness(1) contrast(1);
    }
  }

  .badge-icon {
    filter: brightness(0) invert(1);
    transition: filter 0.25s;
    max-width: 25%;
  }

  .badge-name {
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    margin-top: $spacing-s;
    font-size: $s-font;
    pointer-events: none;
  }
}