@import "src/styles/mixins";
@import "src/styles/constants";

.experience-responsibilities-container {
  list-style-type: disc;
  margin-left: $spacing-l;

  .responsibility {
    opacity: 0.75;
  }
}