@import "src/styles/constants";

.section-header {
  width: fit-content;
  margin-bottom: $spacing-standard;
  display: flex;
  gap: $spacing-s $spacing-standard;
  flex-wrap: wrap;

  @media (max-width: $md-breakpoint) {
    justify-content: center;
    width: 100%;
  }

  &.extra-margin {
    margin: $spacing-xxxl 0 $spacing-l;

    @media (min-width: $md-breakpoint) {
      margin: $header-spacing 0 $spacing-l;
    }
  }

  :last-child {
    color: $purple-lighter;
  }
}