@import "src/styles/constants";

.section-header {
  width: fit-content;
  padding-bottom: $spacing-l;
  display: flex;
  gap: $spacing-s $spacing-m;
  flex-wrap: wrap;

  @media (max-width: $md-breakpoint) {
    justify-content: center;
    width: 100%;
  }

  &.extraMargin {
    margin-top: $spacing-xxxl;

    @media (min-width: $md-breakpoint) {
      margin-top: $header-spacing;
    }
  }

  :last-child {
    color: $purple-lighter;
  }
}