@import "src/styles/constants";
@import "src/styles/mixins";


.about-developer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-l;

  @media (max-width: $md-breakpoint) {
    min-height: 85vh;
  }

  .contacts {
    width: fit-content;
    display: flex;
    gap: $spacing-m;

    .contact-button {
      border-radius: 50px;
      padding: $spacing-m;
      border: thin solid $gray;
      filter: invert(1) brightness(40%);
      transition: 0.2s;
      width: 20px;
      height: 20px;

      &:hover {
        filter: invert(1);
      }
    }
  }

  .developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    gap: $spacing-l;
    box-sizing: border-box;

    .text-container {
      .role {
        width: fit-content;
        background-color: $purple-lighter;
        padding: $spacing-s $spacing-l;
        border-radius: 50px;
        font-weight: 750;
        margin: 0 auto $spacing-m;
      }

      .name {
        word-spacing: 100vw;
        line-height: $xxl-font;
        font-size: $xxl-font;
        font-weight: 750;
      }
    }

    .picture {
      max-width: 200px;
      border-radius: 20px;
      border: thin solid $purple-lighter;
      background: $purple-darker;
      margin-bottom: $spacing-m;
    }
  }

  .all-rights-reserved {
    opacity: 0.5;
    display: block;
    width: fit-content;
  }
}