@import "src/styles/mixins";
@import "src/styles/constants";

.contact-container {
  @include tile;
  padding: $spacing-xl 0 $spacing-xl $spacing-xl;
  margin-top: $spacing-xl;
  gap: $spacing-xl;
  display: flex;
  height: 100%;
  border-radius: 0;
  background: $purple;
  z-index: $contact-z-index;
  position: relative;
  transition: 0.2s;

  @media (min-width: $md-breakpoint) {
    transform: translateX(-$spacing-xl);

    &:hover {
      transform: translateX(0) translateY(-$spacing-s);
      @include shadow($distant-shadow);
    }
  }

  .margin {
    @include shadow($pressed-button-shadow);
    width: $spacing-s;
    height: 100%;
    border: thin solid $gray;
  }

  .take-me {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    padding: $spacing-standard;
    background: $purple-darker;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    letter-spacing: 2px;
    border-left: 2px dashed $gray;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $purple-lighter;
    }
  }

  .contact-icon {
    width: $xl-font;
    filter: invert(1);
    margin-right: $spacing-standard;
  }

  .name, .role {
    font-weight: bold;
  }

  .name {
    text-transform: uppercase;
    font-size: $xl-font;
    margin: 0 auto;
    width: fit-content;
  }

  .role {
    margin-bottom: $spacing-xl;
  }

  .contact {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: $s-font;
    width: fit-content;
    margin-top: $spacing-l;
    display: flex;
    align-items: center;
  }
}