@import "src/styles/constants";
@import "src/styles/mixins";

.project-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $spacing-xxl;

  .project-picture {
    margin: auto;
    width: fit-content;
    @include tile;
    padding: 0;
    border-radius: 50px;
    max-width: 80%;
  }

  .image-change-buttons {
    margin-top: $spacing-standard;
    align-items: center;
    display: flex;
    gap: $spacing-standard;
  }
}