@import "src/styles/constants";
@import "src/styles/mixins";

.experience-info-container {
  width: 100%;

  &:hover {
    .experience-header {
      .date {
        background: $purple-lighter;
      }
    }
  }

  .experience-header {
    display: flex;
    align-items: center;
    gap: $spacing-l;

    .date {
      white-space: nowrap;
      font-weight: 650;
      height: fit-content;
      transition: 0.5s;
      width: fit-content;
      display: block;
      border-radius: 50px;
      font-size: $s-font;
      padding: $spacing-s $spacing-l;
      background: rgba($purple, 0.5);
    }

    .company-name {
      margin-bottom: -$spacing-s;
      font-weight: 700;
    }

    .position {
      font-size: $s-font;
      opacity: 0.75;
    }
  }

  .description {
    opacity: 0.75;
    margin-top: $spacing-s;
    text-align: justify;
    display: block;

    @media (min-width: $md-breakpoint) {
      max-width: 80%;
    }
  }

  .expand-button {
    transition: 0.2s;
    margin-left: $spacing-m;

    &.collapse {
      transform: rotate(180deg);
    }
  }
}