@import "src/styles/constants";
@import "src/styles/mixins";

.skill-badge-container {
  @include badge;
  box-sizing: border-box;
  width: 100px;
  transition: 0.2s;
  border-bottom: thin solid transparent;

  &:hover {
    border-bottom: 3px solid $purple;
    transform: translateY(-$spacing-s);
  }

  .skill-level {
    margin-top: $spacing-m;
    display: flex;
    gap: $spacing-s;

    .skill-level-dot {
      width: 6px;
      aspect-ratio: 1;
      border-radius: 50px;
      background: $purple;

      &.highlighted {
        transform: scale(1.1);
      }

      &:not(.highlighted) {
        opacity: 0.35;
      }
    }
  }
}