@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(25, 25, 37);
  background: radial-gradient(circle, rgb(25, 25, 37) 0%, rgb(23, 16, 39) 100%);
  background-size: 100% 200%;
  height: 100vh;
  width: 100vw;
}
