@import "../../../styles/constants";
@import "src/styles/mixins";

.project-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .project-picture {
    max-width: 80%;
    border-radius: 50px;
    box-sizing: border-box;
    @include tile;
    padding: 0;
    margin-top: $spacing-xl;
  }

  .image-change-buttons {
    margin-top: $spacing-standard;
    align-items: center;
    display: flex;
    gap: $spacing-standard;
  }
}