@import "../../../styles/constants";
@import "src/styles/mixins";

.project-picture-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .project-picture {
    @include tile(0);
    @include shadow(none);
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: $spacing-s;
    max-height: 500px;
    border-radius: 25px;
    position: relative;
  }
}