@import "../../../styles/constants";
@import "src/styles/mixins";

.project-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .project-picture {
    max-width: 90%;
    border-radius: 50px;
    padding: $spacing-l;
    box-sizing: border-box;
  }

  .image-change-buttons {
    align-items: center;
    display: flex;
    gap: $spacing-standard;
  }
}